<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: headerfiles('removelista')">
</head>
<body>
<header th:replace="template.html :: intestazione"></header>
<div class="card overflow-auto" style="max-height: 500px;">
    <div class="card-body" th:style="'color: #FFFFFF'">
        <h3 class="card-title text-center">Rimuovi lista</h3>
        <form th:action="@{listaRemove}"  method="POST">
            <table class="table table-bordered" style="color:#FFFFFF;">
                <thead>
                <tr>
                    <th>Seleziona</th>
                    <th>Nome</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lista : ${listeObjs}">
                    <td><input type="checkbox" name="listeIds" th:value="${lista.id}"/></td>
                    <td th:text="${lista.name}"></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-danger">Elimina Liste Selezionate</button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="template.html :: footer"></footer>
</body>
</html>