<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="template.html :: headerfiles('viewLista')">
</head>
<body>
<header th:replace="template.html :: intestazione"></header>
<div class="card overflow-auto" style="max-height: 500px;">
    <div class="card-body" th:style="'color: #FFFFFF'">
        <h3 class="card-title text-center">Visualizza prodotti</h3>
            <table class="table table-bordered" style="color:#FFFFFF;">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prodotto : ${prodottiObjs}">
                    <td th:text="${prodotto.nome}"></td>
                    <td th:text="${prodotto.descrizione}"></td>
                    <td th:text="'€'+${prodotto.prezzo}"></td>
                </tr>
                </tbody>
            </table>
        <h3 class="card-title text-center" sec:authorize="hasAnyAuthority('VIP')" th:text="'Costo totale della lista = ' + ${#numbers.formatDecimal(somma,0,2,'COMMA')}">Visualizza prodotti VIP</h3>
    </div>
</div>
<footer th:replace="template.html :: footer"></footer>
</body>
</html>